[submodule "nanovg"]
	path = nanovg
	url = https://github.com/pithuene/nanovg.git
[submodule "ds"]
	path = ds
	url = git@github.com:pithuene/ds.git
[submodule "piecetable/md4c"]
	path = piecetable/md4c
	url = https://github.com/mity/md4c.git
[submodule "filedialog/nativefiledialog"]
	path = filedialog/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
